<!-- my-data.component.html -->

<div class="div">
  <ng-container *ngIf="!showDetailsTable; else detailsTable">
    <h1>My Data - Workout List</h1>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Workout Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Average Performance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of dataRows; let i = index"
        [ngClass]="{ 'selected-row': selectedRowIndex === i }"
        (mouseenter)="selectedRowIndex = i"
        (mouseleave)="selectedRowIndex = -1"
        (click)="showDetails(row.workout.workoutId, row.workout.name)">
          <td class="details">{{ i + 1 }}</td>
          <td>{{ row?.workout?.name }}</td>
          <td>{{ row?.workout?.startDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{ row?.workout?.endDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{ row?.averagePerformance | number:'1.2-2' }}</td>
          <!--<td class="details"><button class="details-button" (click)="showDetails(row.workout.workoutId,row.workout.name)">Details</button></td>-->
        </tr>
      </tbody>
    </table>



    <div class="pagination">
      <button class="pagination-button" (click)="prevPage()">Previous</button>
      <span class="page-number">{{ currentPage }}</span>
      <button class="pagination-button" (click)="nextPage()">Next</button>
    </div>
  </ng-container>
  <ng-template #detailsTable>
    <h2>{{ selectedWorkoutName }} Details</h2>
    <button class="back-button" (click)="goBack()">Back</button>
    <table class="Exercise">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Duration</th>
          <th>Performance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exercise of exercises; let i = index">
          <td class="details">{{ i + 1 }}</td>
          <td>{{ exercise.name }}</td>
          <td>{{ exercise.duration }}</td>
          <td>{{ exercise.performance }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>

</div>

