<div class="div">
    <!-- KURZUSOK -->
    <ng-container *ngIf="currentLevel === 'home'">
      <h1>Courses</h1>
      <table class="courses">
        <thead>
          <tr>
            <th></th>
            <th>Course Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lesson of lessons; let i = index"
            (click)="showWorkoutStudents(lesson)">
            <td class="details">{{ i + 1 }}</td>
            <td>{{ lesson.name }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>

    <!-- DIÁKOK  -->
    <ng-container *ngIf="currentLevel === 'students'">
      <h2>{{ this.selectedLesson.name }} Students</h2>
      <button class="back-button" (click)="goBacktoCourses()">Back to Courses</button>
      <table  class="courses">
        <!-- A kiválasztott órához tartozó diákok listázása -->
        <thead>
          <tr>
            <th></th>
            <th>Neptun Code</th>
            <th>Active Lessons</th>
            <!-- <th>Average Performance (%)</th>-->
          </tr>
        </thead>
        <tbody>
          <!-- studentsForSelectedWorkout.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)-->
          <tr *ngFor="let student of students; let i = index"
            [ngClass]="{ 'selected-row': selectedRowIndex === i }"
            (mouseenter)="selectedRowIndex = i"
            (mouseleave)="selectedRowIndex = -1"
            (click)="showLessons(student)">
            <td class="details">{{ i + 1 }}</td>
            <td>{{ student.neptun }}</td>
            <td>{{ student.workoutCount }}</td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button class="pagination-button" (click)="prevPage()">Previous</button>
        <span class="page-number">{{ currentPage }}</span>
        <button class="pagination-button" (click)="nextPage()">Next</button>
      </div>
    </ng-container>
  
    <!-- EGY DIÁK WORKOUTJAI  -->
    <ng-container *ngIf="currentLevel === 'lessons'">
      <h2>{{ selectedStudent.neptun }} Lessons</h2>
      <button class="back-button" (click)="goBackToStudents()">Back to Students</button>
      <table class="courses">
         
        <thead>
            <tr>
            <th></th>
            <th>Lesson</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Average Performance (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lesson of lessons; let i = index"
            (click)="showStudentDetails(lesson)">
            <td class="details">{{ i + 1 }}</td>
            <td>{{ lesson.name }}</td>
            <td>{{ lesson.startDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{ lesson.endDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{ lesson.performance | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>

    <!-- WORKOUT RÉSZLETEI-->
    <ng-container *ngIf="currentLevel === 'studentDetails'">
      <h2>{{ selectedStudent?.neptun }} - {{  selectedWorkout.name }} Details</h2>
      <button class="back-button" (click)="goBackToWorkouts()">Back to Workouts</button>
      <table class="Exercise">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Duration (min)</th>
            <th>Performance (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exercise of selectedStudentDetails; let i = index">
            <td class="details">{{ i + 1 }}</td>
            <td>{{ exercise.exerciseName }}</td>
            <td>{{ exercise.exerciseDuration }}</td>
            <td>{{ exercise.performance }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    
</div>
