.main {
  padding: 0px 10px;
}

.div {
  margin-left: 20px;
}


table {
  border-collapse: collapse;
  width: 80%;
}

.Exercise {
  border-collapse: collapse;
  width: 65%;
}

th {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

tr {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}
.selected-row {
  background-color: #999999;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
}

tr.selected-row:nth-child(even) {
  background-color: #999999;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
}

td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
}

.details{
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
}

.pagination {
  display: flex;
  margin-top: 20px;
}

.pagination-button {
  background-color: #9c9c9c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #4a4b4b;
}

.details-button {
  background-color: #9c9c9c;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.details-button:hover {
  background-color: #4a4b4b;
}

.back-button {
  background-color: #9c9c9c;
  color: white;
  border: none;
  margin: 0px 10px 10px 0px;
  padding: 7px;
  cursor: pointer;
  border-radius: 3px;
}

.back-button :hover {
  background-color: #4a4b4b;
}

.page-number {
  font-size: 16px;
  color: #333;
  margin: auto 10px;
}


.courses {
  border-collapse: collapse; /* A cellák közötti szegélyek összeolvadása */
  width: 40%; /* Táblázat szélessége */
}

.courses th,
.courses td {
  border: 1px solid #ccc; /* Cellák szegélye */
  padding: 8px; /* Cellák belső margója */
  text-align: left; /* Szöveg igazítása balra */
}

.courses th:first-child,
.courses td:first-child {
  border-left: 3px solid #ccc;
  width: 25px; /* Az első oszlop bal oldali szegélye */
}

.courses th:last-child,
.courses td:last-child {
  border-right: 3px solid #ccc; /* Az utolsó oszlop jobb oldali szegélye */
}

.courses th {
  background-color: #f0f0f0; /* Fejléc háttere */
}

.courses tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Páros sorok háttere */
}

.courses tbody tr:hover {
  background-color: #ddd; /* Hover hatása a sorokra */
}


.courses tr:nth-child(even) {
  background-color: #dcdcdc; /* Második sorok színe */
}

.courses tr:hover {
  background-color: #939799; /* Hover effektus */
}