<div *ngIf="this.loginFailed" class="alert-wrong">
    <span class="closebtn" (click)="closeNotification()">&times;</span> 
    {{errorMessage}}
  </div>

<body>
    <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h1>Login</h1>
            <div *ngIf="loginForm.invalid && loginForm.touched">
                <span class="error-message">{{ getErrorMessage() }}</span>
            </div>
            <div class="form-group">
                <label class="form-label" for="neptun">Neptun Code</label>
                <input type="text" id="neptun" formControlName="neptun" class="form-control" placeholder="Enter your Neptun code" required />
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password" required />
            </div>
            <div class="form-group">
                <label for="institutionSelect">University:</label>
                <select id="institutionSelect" formControlName="institutionSelect" required>
                <option value="" disabled selected>Choose University</option>
                <option *ngFor="let institution of institutions" [value]="institution.Url">{{ institution.Name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label" for="role">Role</label>
                <select id="role" formControlName="role" required>
                <option value="" disabled selected>Choose Role</option>
                <option value="Student">Student</option>
                <option value="Teacher">Teacher</option>
                </select>
            </div>
            <div class="form-group-button">
                <button type="submit" class="button">LOGIN</button>
                <button type="button" id="loginButton2" class="button" (click)="redirectToPage()">BACK</button>
            </div>
        </form>
    </div>      
</body>