
body {
    background-image: url("/assets/background/login-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

h1{
    text-align: center;
    font-size: 2.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hr-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Új tulajdonság */
}

.hr-container hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid black;
    margin: 0 10px;
}

.hr-container .or-text {
    margin: 0 5px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

form {
    width: 400px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.35);
}

.error-message {
    color: red;
    font-size: 20px;
    margin-top: 5px;
  }

.form-group {
    margin-bottom: 15px;
}

.form-group-button {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 30%;
    height: 40px;
    font-size: larger;
    background-color: #51be54;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin: 0px 25px;
}

button:hover {
    background-color: #419b47;
}

.alert-wrong {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    padding-right: 0px;
  }
    
  .closebtn {
    margin-right: 20px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: black;
  }