mat-card {
  max-width: 250px;
  text-align: center;
  margin: auto;
}
body {
  background-image: url("/assets/background/login-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px; /* Változtasd meg ezt a számot a kívánt távolsághoz */
  position: absolute;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  top: 150px; /* Változtasd meg ezt a számot a kívánt távolsághoz */
  left: 50%;
  transform: translateX(-50%);
}

.custom-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 291px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 8px;
  padding: 20px;
}


button {
  height: 40px;
  font-size: larger;
  background-color: #51be54;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #419b47;
}
