<body>
    <h1>DigiFit</h1>
    <div *ngIf="tokenExpired" class="token-expired-message">
      Your session has expired. Please log in again.
  </div>
    <div class="custom-container">
        <button class="neptunbutton" (click)="redirectToPage()">Login With neptun</button>
        <div id="buttonDiv"></div>
      </div>
</body>