body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2F4F4F;
  overflow-x: hidden;
  padding-top: 10px;
}

.sidebar a {
  padding: 8px 8px 6px 17px;
  text-decoration: none;
  font-size: 20px;
  color: #e5e4ec;
  display: block;
}

.sidebar a i{
    padding-right: 7px;
  }

.sidebar a:hover {
  color: #bbb9b9;
}

.main {
  margin-left: 150px; /* Same as the width of the sidenav */
  padding: 0px 15px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}