<div class="sidebar">
    <a *ngFor="let menuItem of menuItems" routerLink="{{menuItem.menuUrl}}"><i class="{{menuItem.menuIcon}}"></i>{{menuItem.menuName}}</a>
    <a (click)="logout()"><i class="bi bi-box-arrow-left"></i> Exit</a>
</div>
  
<div class="main">
 </div>