<body>
    <div class="main">
        <h2>Profile</h2>
        <div *ngIf="isProfileUpdateSuccessful" class="success-message">
            Profile successfully updated!
          </div>
          <div *ngIf="errorMessages.length > 0" class="error-message">
            <ul>
              <li *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</li>
            </ul>
          </div>
        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
            <div class="form-row">
                <div class="form-group">
                    <label>Neptun:</label>
                    <input type="text" formControlName="neptun" readonly />
                </div>
                <div class="form-group">
                    <label>Birthday:</label>
                    <input type="date" formControlName="birthday" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label>First Name:</label>
                    <input type="text" formControlName="firstName" placeholder="John" />
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input type="text" formControlName="lastName" placeholder="Doe" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label>Phone Number:</label>
                    <input type="text" formControlName="phoneNumber" placeholder="062044442233"  />
                </div>
                <div class="form-group">
                    <label>Location:</label>
                    <input type="text" formControlName="location" placeholder="New York" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group email">
                    <label>Email:</label>
                    <input type="email" formControlName="email" placeholder="john@example.com"  />
                </div>
            </div>
            <div class="button-container">
                <button type="submit">Update Profile</button>
            </div>
        </form>
    </div>
    
</body>
