body {
    background-image: url("/assets/background/profile-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
}

.main {

    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    width: 500px;
    margin: 0px auto 0px auto;
    padding: 15px;
}

h2 {
    font-size: 2pc;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Új tulajdonság hozzáadva */
    margin-bottom: 10px;
}

.form-group {
    flex-basis: 48%; /* Az elemek 48%-os szélességgel jelennek meg az űrlap soron belül */
}

.form-group.email {
    flex-basis: 100%; /* Új szabály hozzáadva */
}

label {
    display: block;
    margin-bottom: 7px;
}

input[type="text"],
input[type="date"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #51be54;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #419b47;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  