<div class="main">
    <h1>Welcome to DigiFit!</h1>
    <div *ngIf="userRoles.length > 0">
        <h2>Your roles:</h2>
        <ul>
            <li *ngFor="let role of userRoles">{{ role }}</li>
        </ul>
    </div>
    <div *ngIf="userRoles.length === 0">
        <p>You don't have any roles.</p>
    </div>
</div>