<div class="div">
    <!-- KURZUSOK -->
    <ng-container *ngIf="currentLevel === 'home'">
      <h1>Courses - Assessment</h1>
      <table class="courses">
        <thead>
          <tr>
            <th></th>
            <th>Course Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lesson of lessons; let i = index"
            (click)="showWorkoutStudents(lesson)">
            <td class="details">{{ i + 1 }}</td>
            <td>{{ lesson.name }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>

    <!-- DIÁKOK  -->
    <ng-container *ngIf="currentLevel === 'students'">
      <h2>{{ this.selectedLesson.name }} Students</h2>
      <button class="back-button" (click)="goBacktoCourses()">Back to Courses</button>
      <table  class="courses">
        <!-- A kiválasztott órához tartozó diákok listázása -->
        <thead>
          <tr>
            <th></th>
            <th>Neptun Code</th>
            <th>Grade</th>
            <th>Action</th>
            <!-- <th>Average Performance (%)</th>-->
          </tr>
        </thead>
        <tbody>
          <!-- studentsForSelectedWorkout.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)-->
          <tr *ngFor="let student of students; let i = index"
            [ngClass]="{ 'selected-row': selectedRowIndex === i }"
            (mouseenter)="selectedRowIndex = i"
            (mouseleave)="selectedRowIndex = -1">
            <td class="details">{{ i + 1 }}</td>
            <td>{{ student.neptun }}</td>
            <td>
              <select [(ngModel)]="student.grade">
                <option *ngFor="let grade of grades" [value]="grade">{{ grade }}</option>
              </select>
            </td> 
            <td>
              <button class="back-button" (click)="saveGrade(student,this.selectedLesson)">Save</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!--
      <div class="pagination">
        <button class="pagination-button" (click)="prevPage()">Previous</button>
        <span class="page-number">{{ currentPage }}</span>
        <button class="pagination-button" (click)="nextPage()">Next</button>
      </div>-->
    </ng-container>
    
</div>
